name: Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

concurrency:
  group: k8s-operator-node
  cancel-in-progress: false

defaults:
  run:
    shell: bash

env:
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          token: "${{ secrets.GITHUB_TOKEN }}"
          clean: true
          fetch-depth: 1

      - name: Setup nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: "https://npm.pkg.github.com"

      - name: Build and Publish
        shell: bash
        run: |
          npm ci
          npm publish --tag latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
